.list__link {
    position: absolute;
    right: 50px;
    top: 50px;
    background: #ffffff;
    color: black;
    border-radius: 10px;
}

.list__link ul {
    width: 200px;
    padding: 0;
    margin: 0;
    list-style-type: none;
}
.list__link ul li {
    list-style: none;
    padding: 10px;
    width: 100%;
    text-align: center;
    border: 1px solid black;
    cursor: pointer;
}